{% extends 'base.html' %}
{% block title %}
    Qhawariy
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <a href="{{url_for('home.index')}}" class="q-link-active q-link-exact-active">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/home_blue.svg') }}" height="24px" width="24px" alt="qhawariy inicio" srcset="" class="block q-icon-active">
            </div>
            Inicio
        </a>
        {% if rol.rol == "Administrador" %}
        <a href="{{url_for('admin.listar_usuarios')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <!-- <img src="{{ url_for('static', filename='img/icon-len.svg') }}" alt="qhawariy" srcset="" class="block q-icon-active"> -->
                <img src="{{ url_for('static', filename='img/users.svg') }}" height="24px" width="24px" alt="panel usuarios" class="block q-icon-normal">
            </div>
            Usuarios
        </a>
        <a href="{{url_for('vehiculo.listar_vehiculos')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{url_for('static', filename='img/fleet.svg')}}" height="24px" width="24px" alt="panel vehiculos" class="block q-icon-normal">
            </div>
            Vehiculos
        </a>
        <a  href="{{url_for('propietario.listar_propietarios')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{url_for('static', filename='img/owners.svg')}}" height="24px" width="24px" alt="panel propietarios" class="block q-icon-normal">
            </div>
            Propietarios
        </a>
        <a href="{{url_for('ruta.lista_ruta')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/route.svg') }}" height="24px" width="24px" alt="panel rutas" srcset="" class="block q-icon-normal">
            </div>
            Rutas
        </a>
        <a href="{{url_for('control.listar_controles')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/control.svg') }}" height="24px" width="24px" alt="panel controles" srcset="" class="block q-icon-normal">
            </div>
            Controles
        </a>
        <a href="{{url_for('admin.configurar',config_id=1)}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/icon-config.svg') }}" height="24px" width="24px" alt="panel configurar" srcset="" class="block q-icon-normal">
            </div>
            Configuración
        </a>
        {% endif %}
        {% if rol.rol=="Controlador"%}
        <a href="{{url_for('viaje.mostrar_dia')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/strip.svg') }}" height="24px" width="24px" alt="panel viajes" srcset="" class="block q-icon-normal">
                <!-- <img src="{{ url_for('static', filename='img/icon-len.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal hidden"> -->
            </div>
            Viajes
        </a>
        {% endif %}
        {% if rol.rol == "Operacion"%}
        <a href="{{url_for('cronograma_vehiculos.mostrar_cronograma',busca='todos')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/schedule_vehicle.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal">
            </div>
            Asignación de flota
        </a>
        <a href="{{url_for('programacion.agregar_programacion')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/schedule.svg') }}" height="24px" width="24px" alt="panel programaciones" srcset="" class="block q-icon-normal">
            </div>
            Programaciones
        </a>
        {% endif %}
        <a href="{{url_for('estadistica.mostrar_estadisticas')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/statistic.svg') }}" height="24px" width="24px" alt="panel estadisticas" srcset="" class="block q-icon-normal">
            </div>
            Estadisticas
        </a>
    {% endif %}
{% endblock %}
{% block linker %}
<div class="flex">
    <img src="{{url_for('static', filename='img/icon-angle-right.svg')}}" height="12px" width="8px" alt="Descargar" class="">
</div>
<a href="{{ url_for('home.index') }}" class="btn--base">
    <p class="text-h3">Inicio</p>
</a>
{% endblock %}
{% block content %}
<div class="h-[624px]">
    <div class="banner pt-10">
        <div class="text-center h-full">
            {% if current_user.is_authenticated %}
            <!-- <div class="h-2/12 border-b border-cream-100">
                <h1 class="text-h4 pb-2">¡Bienvenido!</h1>
                <p class="text-black-60 sm:text-xs">{{ current_user.apellidos}}, {{ current_user.nombres }}</p>
            </div> -->
            <div class="grid grid-cols-3 p-4 flex items-center h-10/12 sm:grid-cols-1 gap-4 sm:gap-2 item-index">
                {% if rol.rol == "Administrador" %}
                <!-- Administrador -->
                <a class="flex items-center justify-center p-4" href="{{url_for('admin.listar_usuarios')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{url_for('static', filename='img/users.svg')}}" height="48px" width="48px" alt="inicio usuarios" class="sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Usuarios</p>
                        </span>
                        <p class="text-body-4 pt-2">Administrar, agregar y quitar usuarios</p>
                    </div>
                </a>
                <a class="flex items-center justify-center p-4" href="{{url_for('vehiculo.listar_vehiculos')}}">
                    <div class="flex items-center flex-col justif-center">
                        <img src="{{url_for('static', filename='img/fleet.svg')}}" height="48px" width="48px" alt="inicio vehiculos" class=" sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Vehiculos</p>
                        </span>
                        <p class="text-body-4 pt-2">Administrar vehiculos y cambiar a estado activo</p>
                    </div>
                </a>
                <a class="flex items-center justify-center p-4" href="{{url_for('propietario.listar_propietarios')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{url_for('static', filename='img/owners.svg')}}" height="48px" width="48px" alt="inicio propietarios" class=" sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold ">Propietarios</p>
                        </span>
                        <p class="text-body-4 pt-2">Agregar, eliminar propietarios de vehiculos</p>
                    </div>
                </a>
                <a class="flex items-center justify-center p-4" href="{{url_for('ruta.lista_ruta')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{url_for('static', filename='img/route.svg')}}" height="48px" width="48px" alt="inicio rutas" class=" sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Rutas</p>
                        </span>
                        <p class="text-body-4 pt-2">Administrar rutas y terminales</p>
                    </div>
                </a>
                <a class="flex items-center p-4 justify-center" href="{{url_for('control.listar_controles')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{ url_for('static', filename='img/control.svg') }}" height="48px" width="48px" alt="inicio controles" srcset="" class="sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Controles</p>
                        </span>
                        <p class="text-body-4 pt-2">Establecer puntos para control de horarios</p>
                    </div>
                </a>
                <a class="flex items-center p-4 justify-center" href="{{url_for('admin.configurar',config_id=1)}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{ url_for('static', filename='img/icon-config.svg') }}" height="48px" width="48px" alt="inicio controles" srcset="" class="sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Configuración</p>
                        </span>
                        <p class="text-body-4 pt-2">Establecer configuraciones globales</p>
                    </div>
                </a>
                {% endif %}
                {% if rol.rol=="Controlador"%}
                <!-- Controlador -->
                <a class="flex items-center justify-center p-4" href="{{url_for('viaje.mostrar_dia')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{url_for('static', filename='img/strip.svg')}}" height="48px" width="48px" alt="inicio viajes" class=" sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Viajes</p>
                        </span>
                        <p class="text-body-4 pt-2">Reportar viajes hechas por vehiculos</p>
                    </div>
                </a>
                {% endif %}
                {% if rol.rol == "Operacion"%}
                <!-- Operacion -->
                <a class="flex items-center justify-center p-4" href="{{url_for('cronograma_vehiculos.mostrar_cronograma',busca='todos')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{url_for('static', filename='img/schedule_vehicle.svg')}}" height="48px" width="48px" alt="inicio programaciones" class=" sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Asignación de flota</p>
                        </span>
                        <p class="text-body-4 pt-2">Realizar asignación de vehiculos, de acuerdo a un cronograma</p>
                    </div>
                </a>
                <a class="flex items-center justify-center p-4" href="{{url_for('programacion.agregar_programacion')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{url_for('static', filename='img/schedule.svg')}}" height="48px" width="48px" alt="inicio programaciones" class=" sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Programaciones</p>
                        </span>
                        <p class="text-body-4 pt-2">Realizar programaciones de horarios de salidas de vehiculos</p>
                    </div>
                </a>
                {% endif %}
                {% if rol.rol == "Operacion" or rol.rol=="Administrador" or rol.rol == "Controlador" %}
                <a class="flex items-center justify-center p-4" href="{{url_for('estadistica.mostrar_estadisticas')}}">
                    <div class="flex items-center flex-col justify-center">
                        <img src="{{url_for('static', filename='img/statistic.svg')}}" height="48px" width="48px" alt="inicio estadisticas" class=" sm:hidden">
                        <span class="h-auto mt-4">
                            <p class="font-bold">Estadisticas</p>
                        </span>
                        <p class="text-body-4 pt-2">Visualizar informacion grafica actual</p>
                    </div>
                </a>
                {% endif %}
            </div>
            {% else %}
            <!-- SECCION DE BIENVENIDA -->
            <div class="flex items-center flex-col">
                <div class="flex items-center justify-between w-full px-8">
                    <div class="flex items-center justify-center w-[50%]">
                        <div>
                            <img src="{{url_for('static', filename='img/bienvenido_qhawariy.svg')}}" alt="bienvenida a qhawariy" srcset="">
                        </div>
                    </div>
                    <div class="flex items-center flex-col w-[50%]">
                        <p class="text-center text-h2">¡Bienvenido!</p>
                        <p class="text-stretch-300 font-light pt-2">Hola, Qhawariy esta diseñado para ayudarte a crecer en el ámbito empresarial</p>
                        <div class="flex items-center pt-10">
                            <a class="btn btn--base btn-gray-111" href="{{ url_for('auth.login')}}">Iniciar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}