{% extends 'base.html' %}
{% block title %}
    Cronograma flota
{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='source/js/gantt/gantt-chart.js') }}"  type="module"></script>
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <a href="{{url_for('home.index')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <object type="image/svg+xml" data="{{ url_for('static', filename='img/home.svg') }}" class="block q-icon-normal" height="24px" width="24px"></object>
            </div>
            Inicio
        </a>
        <a href="{{url_for('cronograma_vehiculos.mostrar_cronograma' ,busca='todos')}}" class="q-link-active q-link-exact-active ">
            <div class="mr-4 w-6 h-6">
                <object type="image/svg+xml" data="{{ url_for('static', filename='img/schedule_vehicle_blue.svg') }}" class="block q-icon-active" height="24px" width="24px"></object>
            </div>
            Asignación de flota
        </a>
        <a href="{{url_for('programacion.agregar_programacion')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <object type="image/svg+xml" data="{{ url_for('static', filename='img/schedule.svg') }}" class="block q-icon-normal" height="24px" width="24px"></object>
            </div>
            Programaciones
        </a>
        <a href="{{url_for('estadistica.mostrar_estadisticas')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <object type="image/svg+xml" data="{{ url_for('static', filename='img/statistic.svg') }}" class="block q-icon-normal" height="24px" width="24px"></object>
            </div>
            Estadisticas
        </a>
    {% endif %}
{% endblock %}
{% block linker %}
<div class="flex">
    <object type="image/svg+xml" data="{{url_for('static', filename='img/icon-angle-right.svg')}}" width="7px" height="13px"></object>
</div>
<a href="{{ url_for('home.index') }}" class="btn--base">
    <p class="text-h3">Inicio</p>
</a>
<div class="flex">
    <object type="image/svg+xml" data="{{url_for('static', filename='img/icon-angle-right.svg')}}" width="7px" height="13px"></object>
</div>
<a href="#" class="btn--base">
    <p class="text-h3">Asignación de flota</p>
</a>
{% endblock %}
{% block content %}
<div class="flex items-center justify-between py-2 relative">
    <div class="flex-1">
        <a href="{{url_for('cronograma_vehiculos.agregar_permiso') }}" class="btn btn--base btn-gray-111">
            <div class="flex justify-center items-center">
                <object type="image/svg+xml" data="{{url_for('static', filename='img/planet.svg')}}" width="24px" height="24px"></object>
                <p class="ml-2 text-xs sm:hidden">Agregar actividad</p>
            </div>
        </a>
    </div>
    <div class="flex flex-col items-center justify-center right-0">
        <form action="" method="post" class="" novalidate>
            {{form_busca.hidden_tag()}}
            <div class="flex items-center relative">
                <div class=" inline-flex translateY-[-50%] right-unset left-3 absolute top-[50%]">
                    <object type="image/svg+xml" data="{{ url_for('static', filename='img/icon-len.svg') }}" width="24px" height="24px"></object>
                </div>
                {{ form_busca.busca(class="h-[42px] w-full rounded-full text-gris-900 pr-3 pl-12 border border-gray-209", placeholder="Buscar por flota", autocomplete="on") }}<br>
            </div>
            <div class="mt-3">
                {% for error in form_busca.busca.errors %}
                <span class="text-red-600 text-xs">{{ error }}</span>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
<div role="grid" class="relative">
</div>
{% endblock %}
{% block javascript %}
<script  type="module">
    // 
    import { GanttChart } from "{{ url_for('static', filename='source/js/gantt/gantt-chart.js') }}";
    document.addEventListener("DOMContentLoaded",()=>{

        const tasks=JSON.parse('{{vehiculos|tojson|safe}}');
        const taskDurations=JSON.parse('{{permisos|tojson|safe}}')
        const date=JSON.parse('{{date|tojson|safe}}');
        const link=JSON.parse('{{ url_for("cronograma_vehiculos.eliminar_permiso", permiso_id=0)|tojson|safe}}').slice(0,-1);
        
        //convertir string a Date
        taskDurations.forEach((taskDuration)=>{
            taskDuration.start=new Date(taskDuration.start);
            taskDuration.end=new Date(taskDuration.end);
        });

        const ganttCharts=document.querySelectorAll('[role="grid"]');
        ganttCharts.forEach((ganttChart)=>{
            new GanttChart(ganttChart,tasks,taskDurations,date.month,date.year,link);
        });

        // Para el desplazamiento a traves de la gantt
        const contenedor=document.querySelector("#gantt-grid-container__time");

        let isDown=false;
        let startX;
        let startY;
        let scrollLeft;
        let scrollTop;

        contenedor.addEventListener("mousedown",(e)=>{
            isDown=true;
            contenedor.classList.add('active');
            startX=e.pageX-contenedor.offsetLeft;
            startY=e.pageY-contenedor.offsetTop;
            scrollLeft=contenedor.scrollLeft;
            scrollTop=contenedor.scrollTop;
            // e.preventDefault();
        });

        contenedor.addEventListener("mouseleave",()=>{
            isDown=false;
            contenedor.classList.remove('active');
        });
        
        contenedor.addEventListener("mouseup",()=>{
            isDown=false;
            contenedor.classList.remove('active');
        });

        contenedor.addEventListener('mousemove', (e) => {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - contenedor.offsetLeft;
            const y = e.pageY - contenedor.offsetTop;
            const walkX = (x - startX) * 2; // Multiplica por 2 para aumentar la velocidad de desplazamiento
            const walkY = (y - startY) * 2; // Multiplica por 2 para aumentar la velocidad de desplazamiento
            contenedor.scrollLeft = scrollLeft - walkX;
            contenedor.scrollTop = scrollTop - walkY;
        });
    });
</script>
{% endblock %}

