{% extends 'base.html' %}

{% block title %}
  Restablecer nuevo password
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="h-full flex items-center justify-center h-[624px]">
  <div class="border border-cream-100 rounded-[20px] p-4 shadow-custom">
    <div class="py-2">
      <p class="text-h5 text-center uppercase">Restablece tu password</p>
      <p class="text-body-4 font-bold pt-6">Ingrese tu email para comunicarnos contigo</p>
      <p class="text-body-4 font-bold pt-6">{{token}}</p>
      <p class="text-body-4 font-bold pt-6">{{usuario}}</p>
    </div>
    <div class="block">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        <div class="relative mt-4 mb-3">
          <div class="rounded-xxs border border-gray-400 relative">
            <div class="text-sm">
              <div class="flex items-center cursor-pointer">
                {{ form.password(class="w-full px-4 py-3 text-sm text-black-100", placeholder="Contraseña", type="password") }}<br>
              </div>
            </div>
            <div class="btn-toggle1 cursor-pointer inline-flex translateY-[-50%] left-unset right-3 absolute top-[50%]">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-[20px] w-[20px]">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/>
                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"/>
              </svg>
            </div>
          </div>
          {% for error in form.password.errors %}
            <span class="text-red-600">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="relative mt-4 mb-3">
          <div class="rounded-xxs border border-gray-400 relative">
            <div class="text-sm">
              <div class="flex items-center cursor-pointer">
                {{ form.password2(class="w-full px-4 py-3 text-sm text-black-100", placeholder="Contraseña", type="password") }}<br>
              </div>
            </div>
            <div class="btn-toggle2 cursor-pointer inline-flex translateY-[-50%] left-unset right-3 absolute top-[50%]">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-[20px] w-[20px]">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/>
                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"/>
              </svg>
            </div>
          </div>
          {% for error in form.password2.errors %}
            <span class="text-red-600">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="my-6 text-center">
          {{ form.submit(class="text-sm py-2 px-2 btn btn--base btn-green-600")}}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded",()=>{
    let arr=[]
    class ButtonToggle
    {
      constructor(btn,div,type_toggle="elementToggle")
      {
        this.btn=btn;
        this.div=div;
        this.type_toggle=type_toggle
        this.icon={
          open:'<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="12px" height="7px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 5.562 3.029" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#707070" fill-rule="nonzero" d="M0.529 0.089c-0.124,-0.12 -0.321,-0.118 -0.441,0.006 -0.12,0.123 -0.117,0.32 0.006,0.44l2.48 2.404 0.218 -0.223 -0.218 0.225c0.124,0.12 0.322,0.116 0.442,-0.007 0.003,-0.004 0.006,-0.007 0.01,-0.011l2.442 -2.388c0.123,-0.12 0.126,-0.317 0.006,-0.44 -0.12,-0.124 -0.317,-0.127 -0.44,-0.007l-2.243 2.194 -2.262 -2.193 0 0z"/></svg>',
          closed:'<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="12px" height="7px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 5.562 3.029" xmlns:xlink="http://www.w3.org/1999/xlink"> <path fill="#707070" fill-rule="nonzero" d="M0.529 2.94c-0.124,0.12 -0.321,0.118 -0.441,-0.006 -0.12,-0.123 -0.117,-0.32 0.006,-0.44l2.48 -2.405 0.218 0.223 -0.218 -0.224c0.124,-0.12 0.322,-0.116 0.442,0.007 0.003,0.004 0.006,0.007 0.01,0.011l2.442 2.388c0.123,0.12 0.126,0.317 0.006,0.44 -0.12,0.124 -0.317,0.127 -0.44,0.007l-2.243 -2.194 -2.262 2.193 0 0z"/></svg>'
        };
        this.eyeIcon={
          open:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-[20px] w-[20px]"><path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/><path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"/></svg>',
          closed:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-[20px] w-[20px]"><path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" /><path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" /><path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" /></svg>'
        }
      }

      active()
      {
        if(this.type_toggle==='elementToggle'){
          this.btn.addEventListener('click',(e)=>{
            if(this.div.classList.contains('hidden'))
            {
              this.btn.innerHTML=this.icon.closed;
            }
            else
            {
              this.btn.innerHTML=this.icon.open;
            }
            this.div.classList.toggle("hidden");
          });
        }
        if(this.type_toggle==='passwordToggle'){
          this.btn.addEventListener('click',(e)=>{
            this.btn.classList.toggle("open");
            var isEyeOpen=this.btn.classList.contains("open");

            if(isEyeOpen){
              this.btn.innerHTML=this.eyeIcon.closed;
            }else{
              this.btn.innerHTML=this.eyeIcon.open;
            }

            if(isEyeOpen){
              this.div.type="text";
            }else{
              this.div.type="password";
            }
          });
        }
      }
    }

    const btn1=document.querySelector(".btn-toggle1");
    const btn2=document.querySelector(".btn-toggle2");
    
    const field1=document.querySelector("#password");
    const field2=document.querySelector("#password2");
    

    arr=[
      new ButtonToggle(btn1,field1,"passwordToggle"),
      new ButtonToggle(btn2,field2,"passwordToggle"),
    ]

    arr.forEach(ele=>{
      ele.active();
    })

  });
</script>
{% endblock %}