{% extends 'base.html' %}

{% block title %}
    Vista hoy
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <a href="{{url_for('home.index')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/home.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal">
            </div>
            Inicio
        </a>
        <a href="{{url_for('viaje.listar_calendario')}}" class="q-link-active q-link-exact-active">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/strip_blue.svg') }}" alt="qhawariy" srcset="" class="block q-icon-active">
                <!-- <img src="{{ url_for('static', filename='img/icon-len.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal hidden"> -->
            </div>
            Viajes
        </a>
        <a href="{{url_for('estadistica.mostrar_estadisticas')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/statistic.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal">
            </div>
            Estadisticas
        </a>
    {% endif %}
{% endblock %}
{% block linker %}
<div class="flex">
    <img src="{{url_for('static', filename='img/icon-angle-right.svg')}}" alt="Descargar" class="">
</div>
<a href="{{ url_for('home.index') }}" class="btn--base">
    <p class="text-h3">Inicio</p>
</a>
<div class="flex">
    <img src="{{url_for('static', filename='img/icon-angle-right.svg')}}" alt="Descargar" class="">
</div>
<a href="#" class="btn--base">
    <p class="text-h3">Vista día</p>
</a>
{% endblock %}
{% block content %}
<div class="flex items-center justify-between py-2">
    <p class="text-h5 text-black-100">Vista diaria</p>
    <div class="">
        <a href="{{url_for('viaje.listar_calendario')}}" class="btn btn--base btn-gray-111">
            Calendario
        </a>
    </div>
</div>
<div class="flex items-center justify-center mt-3 table-wrapper">
    {{test|safe}}
</div>
<div class="flex items-center justify-center mt-3 table-wrapper">
    {{test1|safe}}
</div>
<div class="flex items-center justify-center mt-3 table-wrapper">
    <table class="text-h6">
        <thead>
            <tr>
                <th>Vehiculo</th>
                <th>Salida</th>
                <th>control 1</th>
                <th>control 2</th>
                <th>control 3</th>
                <th>Programada</th>
                <th>Llegada</th>
                <th>Diferencia</th>
                <th>Frecuencia</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Vehiculo 1</td>
                <td>07:00</td>
                <td>07:20</td>
                <td>07:36</td>
                <td>07:46</td>
                <td>08:00</td>
                <td>07:52</td>
                <td>
                    <div class="flex items-center justify-center text-green-600">
                        <span class="mr-1 text-h4">+</span>
                        8 min
                    </div>
                </td>
                <td>
                    <div class="flex items-center justify-center">
                        <span class="mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px" type="image/svg+xml">
                                <path fill="#05be50" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM385 231c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-71-71V376c0 13.3-10.7 24-24 24s-24-10.7-24-24V193.9l-71 71c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 119c9.4-9.4 24.6-9.4 33.9 0L385 231z"/>
                            </svg>
                        </span>
                        5
                    </div>
                </td>
                <td class="">
                    <div class="flex items-center justify-center">
                        <span class="a_tiempo cuadro">
                            <div class="mark">
                                A tiempo
                            </div>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Vehiculo 2</td>
                <td>07:10</td>
                <td>07:20</td>
                <td>07:46</td>
                <td>08:01</td>
                <td>08:10</td>
                <td>08:12</td>
                <td>
                    <div class="flex items-center justify-center text-red-600">
                        <span class="mr-1 text-h4">-</span>
                        2 min
                    </div>
                </td>
                <td>
                    <div class="flex items-center justify-center">
                        <span class="mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"  type="image/svg+xml">
                                <path fill="#EB0046D9" d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z"/>
                            </svg>
                        </span>
                        8
                    </div>
                </td>
                <td class="">
                    <div class="flex items-center justify-center">
                        <span class="retrasado cuadro">
                            <div class="mark">
                                retrasado
                            </div>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Vehiculo 3</td>
                <td>07:22</td>
                <td>07:20</td>
                <td>07:46</td>
                <td>08:01</td>
                <td>08:10</td>
                <td>08:12</td>
                <td>
                    <div class="flex items-center justify-center text-green-600">
                        <span class="mr-1 text-h4">+</span>
                        2 min
                    </div>
                </td>
                <td>
                    <div class="flex items-center justify-center">
                        <span class="mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px" type="image/svg+xml">
                                <path fill="#05be50" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM385 231c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-71-71V376c0 13.3-10.7 24-24 24s-24-10.7-24-24V193.9l-71 71c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 119c9.4-9.4 24.6-9.4 33.9 0L385 231z"/>
                            </svg>
                        </span>
                        5
                    </div>
                </td>
                <td class="">
                    <div class="flex items-center justify-center">
                        <span class="a_tiempo cuadro">
                            <div class="mark">
                                A tiempo
                            </div>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Vehiculo</td>
                <td>07:50</td>
                <td>07:40</td>
                <td>08:06</td>
                <td>08:21</td>
                <td>08:55</td>
                <td>08:50</td>
                <td>
                    <div class="flex items-center justify-center text-green-600">
                        <span class="mr-1 text-h4">+</span>
                        5 min
                    </div>
                </td>
                <td>
                    <div class="flex items-center justify-center">
                        <span class="mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px" type="image/svg+xml">
                                <path fill="#05be50" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM385 231c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-71-71V376c0 13.3-10.7 24-24 24s-24-10.7-24-24V193.9l-71 71c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 119c9.4-9.4 24.6-9.4 33.9 0L385 231z"/>
                            </svg>
                        </span>
                        6
                    </div>
                </td>
                <td class="">
                    <div class="flex items-center justify-center">
                        <span class="a_tiempo cuadro">
                            <div class="mark">
                                A tiempo
                            </div>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
<script>
</script>
{% endblock %}