{% extends 'base.html' %}

{% block title %}
    Editar Propietario
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <a href="{{url_for('home.index')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/home.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal">
            </div>
            Inicio
        </a>
        <a href="{{url_for('admin.listar_usuarios')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <!-- <img src="{{ url_for('static', filename='img/icon-len.svg') }}" alt="qhawariy" srcset="" class="block q-icon-active"> -->
                <img src="{{ url_for('static', filename='img/users.svg') }}" alt="usuarios" class="block q-icon-normal">
            </div>
            Usuarios
        </a>
        <a href="{{url_for('vehiculo.listar_vehiculos')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{url_for('static', filename='img/fleet.svg')}}" alt="Vehiculos" class="block q-icon-normal">
            </div>
            Vehiculos
        </a>
        <a  href="{{url_for('propietario.listar_propietarios')}}" class="q-link-exact-active">
            <div class="mr-4 w-6 h-6">
                <img src="{{url_for('static', filename='img/owners_blue.svg')}}" alt="Propietarios" class="block q-icon-active">
            </div>
            Propietarios
        </a>
        <a href="{{url_for('ruta.lista_ruta')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/route.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal">
            </div>
            Rutas
        </a>
        <a href="{{url_for('control.listar_controles')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/control.svg') }}" height="24px" width="24px" alt="panel controles" srcset="" class="block q-icon-normal">
            </div>
            Controles
        </a>
        <a href="{{url_for('admin.configurar',config_id=1)}}" class="q-icon-costumer bottom-0">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/icon-config.svg') }}" height="24px" width="24px" alt="panel configurar" srcset="" class="block q-icon-normal">
            </div>
            Configuración
        </a>
        <a href="{{url_for('estadistica.mostrar_estadisticas')}}" class="q-icon-costumer">
            <div class="mr-4 w-6 h-6">
                <img src="{{ url_for('static', filename='img/statistic.svg') }}" alt="qhawariy" srcset="" class="block q-icon-normal">
            </div>
            Estadisticas
        </a>
    {% endif %}
{% endblock %}
{% block linker %}
<div class="flex">
    <img src="{{url_for('static', filename='img/icon-angle-right.svg')}}" alt="Descargar" class="">
</div>
<a href="{{ url_for('home.index') }}" class="btn--base">
    <p class="text-h3">Inicio</p>
</a>
<div class="flex">
    <img src="{{url_for('static', filename='img/icon-angle-right.svg')}}" alt="Descargar" class="">
</div>
<a href="{{ url_for('propietario.listar_propietarios') }}" class="btn--base">
    <p class="text-h3">Lista de propietarios</p>
</a>
<div class="flex">
    <img src="{{url_for('static', filename='img/icon-angle-right.svg')}}" alt="Descargar" class="">
</div>
<a href="#" class="btn--base">
    <p class="text-h3">Editar datos del propietario</p>
</a>
{% endblock %}
{% block content %}
<div class="flex items-center justify-between py-2">
    <p class="text-h5 text-black-100">Ingrese los datos a modificar del propietario
        <span class="text-blue-100">{{propietario.nombres}} {{propietario.apellidos}}</span>
    </p>
</div>
<div class="">
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <div class="grid grid-cols-2 gap-x-4 sm:grid-cols-1 sm:gap-x-2">
            <div class="mt-3 order-1 col-span-2 sm:col-span-1 sm:order-no">
                <div class="flex rounded-xxs border border-gray-400">
                    <div class="dropdown-documento text-sm relative w-3/12 border-r border-gray-400">
                        <div class="px-4 py-3 flex items-center cursor-pointer relative">
                            DNI
                        </div>
                    </div>
                    <div class="w-9/12">
                        {{ form.documento_identificacion.label(class="hidden") }}
                        {{ form.documento_identificacion(class="only-number w-full border-0 text-sm px-4 py-3 text-black-100", type="number", placeholder="Número de DNI", autocomplete="off", maxlength="8") }}<br>
                    </div>
                </div>
                {% for error in form.documento_identificacion.errors %}
                <span class="text-red-600 text-xs">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mt-3 order-2 sm:order-no">
                <div class="relative">
                    <div class="w-full block">
                        {{ form.nombres.label }}
                        {{ form.nombres(class="rounded-xxs border text-black-100 text-sm w-full px-4 py-3 border-gray-400", placeholder="Nombres", autocomplete="off", maxlength="20") }}<br>
                    </div>
                </div>
                {% for error in form.nombres.errors %}
                <span class="text-red-600 text-xs">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mt-3 order-1 sm:order-no">
                <div class="relative">
                    <div class="w-full block">
                        {{ form.apellidos.label }}
                        {{ form.apellidos(class="rounded-xxs border text-black-100 text-sm w-full px-4 py-3 border-gray-400", placeholder="Apellidos", autocomplete="off", maxlength="20") }}<br>
                    </div>
                </div>
                {% for error in form.apellidos.errors %}
                <span class="text-red-600 text-xs">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mt-3 order-3 sm:order-no">
                <div class="relative">
                    <div class="w-full block">
                        {{ form.telefono.label }}
                        {{ form.telefono(class="rounded-xxs border text-black-100 text-sm w-full px-4 py-3 border-gray-400", placeholder="Telefono", autocomplete="off", maxlength="20") }}<br>
                    </div>
                </div>
                {% for error in form.telefono.errors %}
                <span class="text-red-600 text-xs">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-span-2 mt-3 sm:col-span-1 order-4 sm:order-no">
                <div class="mt-4 mb-5">
                    {{ form.submit(class="btn btn--base btn-green-600 text-white w-full md:w-auto block text-center") }}
                </div>
            </div>
        </div>
    </form>
    <form action="{{ url_for('propietario.eliminar_propietario', propietario_id=propietario.id_propietario) }}" method="post" novalidate>
        {{form.hidden_tag()}}
        <div class="mt-4 mb-5">
            <input type="submit" value="Eliminar" class="btn btn--base bg-red-600 text-white w-full md:w-auto block text-center"/>
        </div>
    </form>
</div>
{% endblock %}