{% extends 'base.html' %}

{% block title %}
    Vista diaria de programacion
{% endblock %}
{% block head %}
    {{ super() }}
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='dist/js/timeline_fleet_qhawariy.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/timeline_fleet_qhawariy.css') }}"> -->
    <!-- <script type="text/javascript" src="{#{ url_for('static', filename='source/js/timeline_fleet.js') }#}"></script>
    <link rel="stylesheet" href="{#{ url_for('static', filename='source/styles/timeline_fleet.css') }#}"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='dist/js/chart.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="admin-page">
    <div class="md:pb-8 relative px-0">
        <div class="admin-detail bg-white rounded">
            <div class="w-full">
                <div class="admin-module-info p-6 md:w-full md:block block w-full">
                    <div class="px-0 md:px-6">
                        <div class="block grid gap-4 grid-cols-1 p-2">
                            <div class="flex items-center justify-center">{{data1|safe}}</div>
                            <div class="flex items-center justify-center">{{data2|safe}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}